@font-face {
  font-weight: 400;
  font-family: "Muller";
  font-style: normal;
  src: url(../fonts/2DF5B4_F_0.woff2) format("woff2"),url(../fonts/2DF5B4_F_0.woff) format("woff")
}

@font-face {
  font-weight: 400;
  font-family: "Muller";
  font-style: italic;
  src: url(../fonts/latoitalic.woff2) format("woff2"),url(../fonts/latoitalic.woff) format("woff")
}

@font-face {
  font-weight: 500;
  font-family: "Muller";
  font-style: normal;
  src: url(../fonts/2DF5B4_D_0.woff2) format("woff2"),url(../fonts/2DF5B4_D_0.woff) format("woff")
}

@font-face {
  font-weight: 500;
  font-family: "Muller";
  font-style: italic;
  src: url(../fonts/latomediumitalic.woff2) format("woff2"),url(../fonts/latomediumitalic.woff) format("woff")
}

@font-face {
  font-weight: 700;
  font-family: "Muller";
  font-style: normal;
  src: url(../fonts/2DF5B4_2_0.woff2) format("woff2"),url(../fonts/2DF5B4_2_0.woff) format("woff")
}

@font-face {
  font-weight: 700;
  font-family: "Muller";
  font-style: italic;
  src: url(../fonts/latoheavyitalic.woff2) format("woff2"),url(../fonts/latoheavyitalic.woff) format("woff")
}
